<ion-content class="wholePage">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
          width="64"
          height="64"
          class="d-inline-block align-text-middle avatar"
        />
        <span class="username">Marc</span>
      </a>

      <h2 style="color: white; text-align: center; font-weight: bold; margin-bottom: 5px; margin-top: 0">QUEST 1.1: <br> Zentrale wissenschaftstheoretische Begriffe</h2> 

      
      <a class="navbar-brand">
        <img
          alt="Logo der Hochschule Worms"
          src="../assets/images/hswormslogo.png"
          width="60"
          height="64"
          class="inline-block"
        />
      </a>
    </div>
  </nav>







<div class="body">

<div cdkDropListGroup style="display:table">

<div class="row1">
<div class="box box6" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box6"
    [cdkDropListEnterPredicate]="box6Predicate"
    >
    <img *ngIf="box6.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/blue-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box6.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/blue-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(0, 0, 255, 0.8); font-weight: bold">
      Hypothese
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box6">
    {{item}}
  </div>
</div>

<h3>Box7</h3>
<div class="box box7" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box7"
    [cdkDropListEnterPredicate]="box7Predicate"
    >
    <img *ngIf="box7.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/green-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box7.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/green-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(0, 128, 0, 0.8); font-weight: bold">
      Theorie
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box7">
    {{item}}
  </div>
</div>
</div>

<div class="box box8" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box8"
    >
    <div class="title" style="background-color: rgba(0, 0, 0, 1); font-weight: bold">
      Modell
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box8">
    {{item}}
  </div>

  <ion-button mode="ios" size="large" color="success" *ngIf="box8.length == 0">FERTIG</ion-button>
</div>




<div class="row2">
<div class="box box9" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box9"
    [cdkDropListEnterPredicate]="box9Predicate"
    >
    <img *ngIf="box9.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/red-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box9.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/red-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(255, 0, 0, 0.8); font-weight: bold">
      Konzept
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box9">
    {{item}}
  </div>
</div>

<h3>Box5</h3>
<div class="box box10" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box10"
    [cdkDropListEnterPredicate]="box10Predicate"
    >
    <img *ngIf="box10.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/yellow-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box10.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/yellow-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(255, 255, 0, 0.5); font-weight: bold">
      Methoden
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box10">
    {{item}} 
    
      
    
  </div>
</div>
</div>

</div>
</div>






  <div class="footer" style="display: inline-block">
    <div class="backDiv" style="display: inline-block">
      <ion-icon
        (click)="goToModul1()"
        class="back"
        name="arrow-back-outline"
      ></ion-icon>
    </div>
    <div (click)="goToHome()" class="homeButton" style="display: inline-block">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="fakeBackDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
  </div>
</ion-content>
