* {
    font-family: "Courier New", Courier, monospace;
  }
  
  .wholePage {
    --background: url(../../assets/images/empty-table.png) 0 0/100%
      100% no-repeat;
  }
  
  .avatar {
    margin-right: 3%;
  }
  
  .username {
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  .homeButton {
    width: 100%;
    text-align: center;
    font-size: 40px;
    width: fit-content;
    color: white;
  }
  
  .footer {
    width: 100vw;
    position: relative;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
  }
  
  .backDiv {
    width: fit-content;
    float: left;
  }
  
  .fakeBackDiv {
    width: fit-content;
    float: right;
    visibility: hidden;
  }
  
  .homeButton:hover {
    cursor: pointer;
  }
  
  .back {
    color: white;
    font-size: 40px;
  }
  
  .back:hover {
    cursor: pointer;
  }
  
  
  
  
  
  .drop-area{
    // border: #ccc dashed 2px;
    height: 160px;
    width: 220px;
    padding: 5px;
  }
  
  .drop-area1{
    margin-left: 5%;
  }
  
  .drop-area2{
    margin-left: 60%;
  }
  
  .drop-area3{
    margin-left: 5%;
  }
  
  .drop-area4{
    margin-left: 60%;
  }
  
  .row{
    height: 220px;
  }
  
  .card-area{
    border: #ccc dashed 2px;
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  
  .drag-item{
    padding: 8px;
    border: 1px solid black;
    width: 250px;
    background-color: rgb(140, 137, 137);
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .cdk-drag-preview{
    background-color: gainsboro;
    box-shadow: 0px 0px 8px 3px gainsboro;
  }
  
  .cdk-drag-placeholder{
    opacity: 0;
  }
  
  .cdk-drag-animating{
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 0);
  }
  
  .cdk-drop-list-dragging .cdk-drag{
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 0);
  }
  
  .body{
    opacity: 0.7;
    padding-bottom: 20px;
  }
  
  .box{
    padding-left: 128px;
    padding-right: 128px;
  }
  
  .box6, .box9{
    padding-bottom: 0px;;
  }
  
  h3{
    opacity: 0;
  }
  
  .title{
    padding: 1em;
    border: 1px solid black;
    width: 250px;
    height: 50px;
    text-align: center;
    color: white;
  }
  
  ion-button{
    text-align: center;
    padding-left: 70px;
    margin-top: 180px;
    font-weight: bold;
    color: white;
  }
  
  
  
  
  
  
  
  
  
  