<div id="body">
  <div id="textarea">
      <h1><u>Text von Mike Kramer:</u></h1><br>
      <p id="texttoread">
        Tourismus trägt zum Klimawandel bei, wobei zwischen 3,9 und 6 Prozent der durch 
        Menschen verursachten CO2-Emissionen auf die Tourismusbranche zurückgehen 
        (vgl. Klimafakten.de 2022). Ein Teil dieser Emissionen stammt von den Reisen selbst, 
        wie etwa der An- und Abreise, aber auch von den touristischen Einrichtungen vor Ort, 
        wie Hotels und Restaurants (vgl. Umweltbundesamt 2022). Um den negativen Auswirkungen 
        des Tourismus auf das Klima entgegenzuwirken, ist es wichtig, Maßnahmen zur Förderung eines 
        nachhaltigen Tourismus zu ergreifen. Dazu können Maßnahmen gehören, wie die Reduzierung 
        von Treibhausgasemissionen, die Förderung umweltfreundlicher Reisemöglichkeiten, 
        die Unterstützung lokaler Gemeinschaften und die Erhaltung von Natur- und Kulturlandschaften.</p>

        Quellen:<br>
        Klimafakten.de (Hrsg.) (2016): Klimawandel - Was er für den Tourismus bedeutet - Kernergebnisse aus dem Fünften Sachstandsbericht des IPCC, https://www.klimafakten.de/branchenbericht/was-der-klimawandel-fuer-den-tourismus-bedeutet (Zugriff am 31.01.2023).<br>
        Umweltbundesamt (Hrsg.) (2022): Anpassung an den Klimawandel im Tourismus, https://www.umweltbundesamt.de/themen/klima-energie/klimafolgen-anpassung/anpassung-an-den-klimawandel/anpassung-auf-kommunaler-ebene/anpassung-an-den-klimawandel-im-tourismus#wie-betrifft-der-klimawandel-die-tourismuswirtschaft (Zugriff am 31.01.2023).<br>
  </div>
  <div id="buttonposition">
      <button mat-raised-button id="backtoQuest12" routerLink="../quest12">
          Zurück zur Quest1.2
        </button>
        
  </div>
</div>