<ion-content class="wholePage">

  <div class="">
    <div class="container">
      <div
        class="col-sm-8 offset-sm-2 col-lg-12 offset-lg-3 col-xl-4 offset-xl-4 text-center"
      >
        <div class="box">
          <h3 class="text-light fw-bolder fs-4 mb-2">Modul 1</h3>
          <p class="text-light fw-normal mb-2">
            Hier werden wissenschaftliche Grundlagen erarbeitet
          </p>
          <div class="box"></div>
          <div class="row">
            <div class="col">
              <div class="card text-bg-light card-box">
                <div (click)="goToQuest11()" class="card-body padding-10">
                  <h5 class="card-title margin-top-0" style="color: black">Quest 1.1</h5>
                  <div class="quest-height">
                    <p class="card-text" style="color: black">So ein Chaos!</p>
                  </div>
                  <img
                    *ngIf="quest1_1 === 'grey'"
                    class="medallie"
                    src="./assets/images/Medallie-grey.png"
                    alt=""
                  />
                  <img
                    *ngIf="quest1_1 === 'bronze'"
                    class="medallie"
                    src="./assets/images/Medallie Bronze.png"
                    alt=""
                  />
                  <img
                    *ngIf="quest1_1 === 'silber'"
                    class="medallie"
                    src="./assets/images/Medallie Silber.png"
                    alt=""
                  />
                  <img
                    *ngIf="quest1_1 === 'gold'"
                    class="medallie"
                    src="./assets/images/Medallie Gold.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-light card-box">
                <div (click)="goToQuest12()" class="card-body padding-10">
                  <h5 class="card-title margin-top-0" style="color: black">Quest 1.2</h5>
                  <div class="quest-height">
                    <p class="card-text" style="color: black">Kritischer Rationalismus</p>
                  </div>

                  <span>
                    <img
                      *ngIf="quest1_2 === 'grey'"
                      class="medallie"
                      src="./assets/images/Medallie-grey.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'bronze'"
                      class="medallie"
                      src="./assets/images/Medallie Bronze.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'silber'"
                      class="medallie"
                      src="./assets/images/Medallie Silber.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'gold'"
                      class="medallie"
                      src="./assets/images/Medallie Gold.png"
                      alt=""
                    />
                  </span>

                  <span>
                    <img
                      class="schloss"
                      *ngIf="quest12_locked == true"
                      src="../../assets/images/Schloss.png"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="videoBox" style="text-align: center; margin-top: 2%;">
    <div class="video1" style="display: inline-block; margin-right: 1%">
      <youtube-player [height]="165" [width]="300" videoId="uzuB8PiYNKE"> </youtube-player>
    </div>
    <div class="video2" style="display: inline-block">
      <youtube-player [height]="165" [width]="300" videoId="uzuB8PiYNKE"> </youtube-player>
    </div>
  </div>

  <div class="footer" style="display: inline-block">
    <div class="backDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
    <div (click)="goToHome()" class="homeButton" style="display: inline-block">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="fakeBackDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
  </div>
</ion-content>
