<div id="body">
  <div id="textarea">
      <h1><u>Text von Marianne Weber:</u></h1><br>
      <p id="texttoread">Der Begriff des Klimawandels beschreibt Veränderungen des Wetters,
      die sich durch Änderungen des Mittelwerts bestimmter Eigenschaften 
      (z. B. Temperaturen, Niederschläge, Wind) feststellen lassen und über Jahrzehnte oder
      längere Zeiträume anhalten (vgl. IPCC 2021, S. 2222). Laut Daten des Weltklimarates 
      lässt sich seit 1850 eine stetige Erhöhung der globalen Temperaturen beobachten,
      was hauptsächlich aus dem Anstieg von Treibhausgasen in der Erdatmosphäre resultiert 
      (vgl. IPCC 2021, S. 4f.). Mehr als 95% der Klima-Wissenschaftler stimmen darin 
      übereinstimmen, dass diese Entwicklung auf menschliche Aktivitäten zurückzuführen ist 
      (vgl. Cook et al. 2016; Cook et al. 2013). Hält diese Entwicklung künftig weiter an,
      so wird dies gemäß der Emissionsszenarien des 6. Sachstandberichtes des Weltklimarates 
      (vgl. IPCC 2021) dazu führen, dass eine „globale Erwärmung von 1,5 °C und 2 °C … im 
      Laufe des 21. Jahrhunderts überschritten [wird], es sei denn, es erfolgen in den 
      kommenden Jahrzehnten drastische Reduktionen der CO2- und anderer Treibhausgasemissionen“ 
      (Deutsche IPCC-Koordinierungsstelle 2021, S. 2). Bereits jetzt hat diese Entwicklung für 
      Wetter- und Klimaextreme (z. B. Hitzewellen, Starkniederschläge, Dürren) gesorgt 
      (vgl. IPCC 2021, S. 8–11), die durch die prognostizierte Erwärmung künftig häufiger
      auftreten sowie eine andere Qualität (z. B. Rückgänge des arktischen Meereises,
      von Schneebedeckung und Permafrost) erreichen werden (vgl. IPCC 2021, S. 15–23).
      Auch touristische Aktivitäten zählen zu den Verursachern von Treibhausgasemissionen, 
      wobei vor allem der durch den Tourismus induzierte Transport von Personen besonders
      stark zum Ausstoß von Klimagasen beiträgt (vgl. Lenzen et al. 2018; Gössling/Peters 2015).
      Der Tourismus steht daher vor der Aufgabe, sowohl seine Emissionen zu verringern 
      als auch sich vorausschauend an den Klimawandel anzupassen.<br></p>

      Quellen:<br>
      Cook, J.; Oreskes, N.; Doran, P. T.; Anderegg, W. R. L.; Verheggen, B.; Maibach, E. W. et al. (2016): Consensus on consensus: A Synthesis of consensus estimates on human-caused global warming, in: Environmental Research Letters,<br> Vol. 11, No. 4, pp. 48002.<br>
      Cook, J.; Nuccitelli, D.; Green, S. A.; Richardson, M.; Winkler, B.; Painting, R. et al. (2013): Quantifying the consensus on anthropogenic global warming in the scientific literature, in: Environmental Research Letters, Vol. 8, No. 2, pp. 24024.<br>
      Deutsche IPCC-Koordinierungsstelle (2021): Sechster IPCC-Sachstandsbericht (AR6), Beitrag von Arbeitsgruppe I: Naturwissenschaftliche Grundlagen, Hauptaussagen, Bonn.<br>
      Gössling, S.; Peeters, P. (2015): Assessing tourism’s global environmental impact 1900-2050, in: Journal of Sustainable Tourism, Vol. 23, No. 5, pp. 639–659.<br>
      IPCC (Ed.) (2021): Climate Change 2021: The Physical Science Basis. Contribution of Working Group I to the Sixth Assessment Report of the Intergovernmental Panel on Climate Change, Cambridge.<br>
      Lenzen, M.; Sun, Y. Y.; Faturay, F.; Ting, Y. P.; Geschke, A.; Malik, A. (2018): The carbon footprint of global tourism, in: Nature Climate Change, Vol. 8, No. 6, pp. 522–528.<br><br><br><br>
  </div>
  <div id="buttonposition">
      <button mat-raised-button id="backtoQuest12" routerLink="../quest12">
          Zurück zur Quest1.2
        </button>
        
  </div>
</div>