<div
  class="wholePage"
  [ngStyle]="{ 'background-image': 'url(' + backgroundImg + ')' }"
>
<nav style="color: white">
  <div class="nav-kasten1 nav-kasten">
    <img
      alt="Logo der Hochschule Worms"
      src="../assets/images/wormslogo-white.png"
      width="64"
      height="64"
      class="inline-block"
    />
  </div>
  <div class="nav-kasten2 nav-kasten">
      <p (click)="goToHome()" class="fw-bold text-decoration-none; clickableBox" style="color: white; padding-left: 10%">Hauptmenü</p>
  </div>
  <div class="nav-kasten3 nav-kasten">
    <p (click)="goToImpressum2()" class="fw-bold text-decoration-none; clickableBox" style="color: white; padding-left: 10%">Impressum</p>
  </div>
  <div class="nav-kasten4 nav-kasten">
    <h1>Mission Green Possible</h1>
  </div>
  <div class="nav-kasten5 nav-kasten"></div>
  <div class="nav-kasten6 nav-kasten"></div>
  <div class="nav-kasten7 nav-kasten">
    <p
      (click)="goToLogin()"
      style="font-weight: bold; cursor: pointer; margin-right: 10%"
      class="logoutText"
    >
      Abmelden
    </p>
  </div>
</nav>

  <main style="color: white">
    <div class="kasten1">
      <div class="kasten1oben"></div>
      <div class="kasten1unten"></div>
    </div>

    <div class="kasten2" *ngIf="showForm">
      <form
        class="rounded shadow-lg p-5 wholeBox"
        style="
          background-color: rgba(0, 0, 0, 0.6);
          width: 100%;
          margin-top: 50%;
          height: auto;
          margin-top: 2%;
        "
      >
        <img
          src="../assets/images/EUFlagge.png"
          alt="Flagge der EU"
          *ngIf="showImg1"
        />

        <img
          src="../assets/images/GreenTourismLogo.png"
          alt="Green Tourism Logo"
          *ngIf="showImg2"
        />

        <img
          src="../assets/images/EUFlagge2.png"
          alt="Parlamentarier"
          *ngIf="showImg3"
        />

        <img
          src="../assets/images/RangErklärung.png"
          alt="Erklärung der Ränge"
          *ngIf="Rang1"
        />
      </form>
    </div>

    <div class="container">
      <div class="img-container">
        <div
          class="bg-dark p-2 text-white bg-opacity-75 display: inline-block img-text fixed-bottom"
          style="height: 110px"
        >
          <button
            (click)="goToHome()"
            style="
              margin-top: 25px;
              float: right;
              background-color: rgba(1, 61, 98, 1);
              color: white;
              width: 150px;
              height: 40px;
              border-radius: 8px;
              margin-right: 1%;
            "
          >
            Fertig
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
          </button>

          <svg
            (click)="writer1()"
            style="float: left; margin-top: 28px; margin-left: 1%"
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="white"
            class="bi bi-arrow-counterclockwise arrow"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"
            />
            <path
              d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"
            />
          </svg>

          <h1 class="tw"></h1>
        </div>
      </div>
    </div>
  </main>
</div>
