<div class="wholePage">
  <nav style="color: white">
    <div class="nav-kasten1 nav-kasten">
      <img
        alt="Logo der Hochschule Worms"
        src="../assets/images/wormslogo-white.png"
        width="64"
        height="64"
        class="inline-block"
      />
    </div>
    <div class="nav-kasten2 nav-kasten">
        <p (click)="goToHome()" class="fw-bold text-decoration-none; clickableBox" style="color: white; padding-left: 10%">Hauptmenü</p>
    </div>
    <div class="nav-kasten3 nav-kasten">
      <p (click)="goToImpressum2()" class="fw-bold text-decoration-none; clickableBox" style="color: white; padding-left: 10%">Impressum</p>
    </div>
    <div class="nav-kasten4 nav-kasten">
      <h1>Mission Green Possible</h1>
    </div>
    <div class="nav-kasten5 nav-kasten"></div>
    <div class="nav-kasten6 nav-kasten"></div>
    <div class="nav-kasten7 nav-kasten">
      <p
        (click)="goToLogin()"
        style="font-weight: bold; cursor: pointer; margin-right: 10%"
        class="logoutText"
      >
        Abmelden
      </p>
    </div>
  </nav>

  <main style="color: white">
    <div
      class="row1kasten1"
      style="
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40px;
        padding: 15px;
      "
    >
      Wissenschaftliche Monographien
    </div>
    <div class="row1kasten2" style="padding: 15px">
      <ul>
        <li>Sind sehr umfangreich</li>
        <li>
          Bieten einen guten Einblick in den aktuellen Forschungsstand zu einem
          Thema
        </li>
        <li>
          Beispiele sind Dissertationen, Habilitationen und Forschungsberichte
        </li>
      </ul>
    </div>
    <div
      class="row1kasten3"
      style="
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40px;
        padding: 15px;
      "
    >
      Lehrbücher
    </div>
    <div class="row1kasten4" style="padding: 15px">
      <ul>
        <li>Eignen sich gut für den Einstieg in ein Thema</li>
        <li>
          Primäre Zielgruppe sind vor allem Studierende und nicht
          Wissenschaftler
        </li>
        <li>
          Sollten nicht zur theoretischen Fundierung einer Arbeit eingesetzt
          werden
        </li>
      </ul>
    </div>

    <div
      class="row2kasten1"
      style="
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40px;
        padding: 15px;
      "
    >
      Praxisorientierte Monographien
    </div>
    <div class="row2kasten2" style="padding: 15px">
      <ul>
        <li>Genügen oft nicht den wissenschaftlichen Standards</li>
        <li>Inhalte entspringen meist dem Erfahrungswissen des Autors</li>
        <li>eignen sich als Quellen von Praxisbeispiele zur Illustration</li>
      </ul>
    </div>
    <div
      class="row2kasten3"
      style="
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40px;
        padding: 15px;
      "
    >
      Sammelbände
    </div>
    <div class="row2kasten4" style="padding: 15px">
      <ul>
        <li>Geben einen Überblick über die Bandbreite eines Themas</li>
        <li>
          Beinhalten sowohl Perspektiven der Praktiker als auch der
          Wissenschaftler
        </li>
        <li>Fassen die Beiträge vieler Autoren zusammen</li>
      </ul>
    </div>

    <div
      class="row3kasten1"
      style="
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40px;
        padding: 15px;
      "
    >
      Wissenschaftliche Zeitschriften
    </div>
    <div class="row3kasten2" style="padding: 15px">
      <ul>
        <li>Höchster Grad wissenschaftlicher und methodischer Qualität</li>
        <li>
          Inhalte werden vor Veröffentlichung einem strengen
          "Blind-Begutachtung" unterzogen
        </li>
        <li>
          Sind zwingend beim Verfassen einer wissenschaftlichen Arbeit zu
          berücksichtigen
        </li>
      </ul>
    </div>
    <div
      class="row3kasten3"
      style="
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40px;
        padding: 15px;
      "
    >
      Praxisorientierte (branchenbezogene) Zeitschriften
    </div>
    <div class="row3kasten4" style="padding: 15px">
      <ul>
        <li>Autoren sind meist Journalisten und Praktiker</li>
        <li>
          Informieren über aktuelle Trends und Probleme der Branche und eignen
          sich deshalb gut zur Themenfindung
        </li>
        <li>Entsprechen nicht den wissenschaftlichen Qualitätskriterien</li>
      </ul>
    </div>

    <div class="row4kasten1"></div>
    <div class="row4kasten2"></div>
    <div class="row4kasten3"></div>
    <div class="row4kasten4">
      <button
        (click)="goToHome()"
        style="
          margin-top: 5px;
          background-color: rgba(1, 61, 98, 1);
          color: white;
          width: 150px;
          height: 40px;
          border-radius: 8px;
          float: right;
          margin-right: 40px;
        "
      >
        Fertig
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-arrow-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
          />
        </svg>
      </button>
    </div>
  </main>
</div>
