<div class="wholePage">

    <nav style="color: white"> 
  
      <div class="nav-kasten1 nav-kasten">
        <img
            alt="Logo der Hochschule Worms"
            src="../assets/images/wormslogo-white.png"
            width="64"
            height="64"
            class="inline-block"
          />
      </div>
      <div class="nav-kasten2 nav-kasten">
        <a href="home" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Hauptmenü</a>
      </div>
        <div class="nav-kasten3 nav-kasten">
          <a href="impressum2" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Impressum</a>
        </div>
        <div class="nav-kasten4 nav-kasten">
          <h1>Mission Green Possible</h1>
        </div>
        <div class="nav-kasten5 nav-kasten">
          
        </div>
        <div class="nav-kasten6 nav-kasten">
         
        </div>
        <div class="nav-kasten7 nav-kasten">
          <p (click)="goToLogin()" style="font-weight: bold; cursor: pointer; margin-right: 10%" class="logoutText">Abmelden</p>
        </div>
  </nav>
  
  <main>
  
       <div class="unityBox" style="width:1067px; height: 600px; margin: auto; margin-top: 2%;">
        <iframe mozallowfullscreen="true" allow="autoplay; fullscreenautoplay; encrypted-media;" src="http://melmmarc.github.io/game2-1-new/index.html" style="border:0px #000000 none;" name="UGame 1.2" scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true" allowtransparency="true" frameborder="0" marginheight="px" height="100%" width="100%"></iframe>
      </div> 
  
    <button (click)="goToQuest21feedback1()" style="margin-right: 40px; float: right; background-color: rgba(1, 61, 98, 1); color: white; width: 150px; height: 40px; border-radius: 8px; margin-top: 3px;">
      Weiter
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </button>
  
  
  </main>
  
  </div>