<ion-content class="wholePage">
  <nav class="navbar">
    <div class="container-fluid">
  
      <a class="navbar-brand">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" width="64" height="64" class="d-inline-block align-text-middle avatar">
          <span class="username">Maximilian</span>
      </a> 
  
      <a class="navbar-brand">
        <img alt="Logo der Hochschule Worms" src="../assets/images/hswormslogo.png" width="60" height="64" class="inline-block">
      </a>
    
  
      </div>
  </nav>

  <h1 style="text-align: center; font-weight: bold;">QUEST 2.3</h1> <!-- Kann weg -->

  <div class="footer" style="display: inline-block">
    <div class="backDiv" style="display: inline-block">
      <ion-icon (click)="goToModul2()" class="back" name="arrow-back-outline"></ion-icon>
    </div>
  <div  (click)="goToHome()" class="homeButton" style="display: inline-block">
    <ion-icon name="home-outline"></ion-icon> 
  </div>
  <div class="fakeBackDiv" style="display: inline-block">
    <ion-icon class="back" name="arrow-back-outline"></ion-icon>
  </div>
</div>

</ion-content>