<div class="wholePage">

  <img
  alt="Logo der Hochschule Worms"
  src="../assets/images/wormslogo-white.png"
  width="64"
  height="64"
  class="inline-block"
  style="position: relative; float: right; margin-top: 0.5%; margin-right: 0.5%; opacity: 0.6;"
/>

  <div class="wrapper">
    <div
      class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center wholeBox"
    >
      <form class="rounded shadow-lg p-5" style="background-color: rgba(0, 0, 0, 0.6)">
        <h3 class="text-light fw-bolder fs-4 mb-5">Mission Green Possible</h3>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" />
          <label for="floatingInput">E-Mail</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" />
          <label for="floatingPassword">Passwort</label>
        </div>
        <div class="mt-2 text-end">
          <a (click)="goToNewPassword()" style="cursor: pointer;" class="text-blue fw-bold text-decoration-none"
            >Passwort vergessen?</a
          >
        </div>
        <button
          (click)="goToHome()"
          class="btn btn-primary submit_btn w-100 my-4">
          Bestätigen
        </button>
        <div class="fw-normal text-light mb-4">
          Neu hier?
          <a href="register" class="text-blue fw-bold text-decoration-none"
            >Account erstellen</a
          >
        </div>
          <a href="impressum" class="fw-bold text-decoration-none" style="color: white"
            >Impressum</a
          >
      </form>
    </div>
  </div>
</div>
