<div class="wholePage">

  <nav style="color: white"> 
  
    <div class="nav-kasten1 nav-kasten">
      <img
          alt="Logo der Hochschule Worms"
          src="../assets/images/wormslogo-white.png"
          width="64"
          height="64"
          class="inline-block"
        />
    </div>
    <div class="nav-kasten2 nav-kasten">
      <a href="home" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Hauptmenü</a>
    </div>
      <div class="nav-kasten3 nav-kasten">
        <a href="impressum2" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Impressum</a>
      </div>
      <div class="nav-kasten4 nav-kasten">
        <h1>Mission Green Possible</h1>
      </div>
      <div class="nav-kasten5 nav-kasten">
        
      </div>
      <div class="nav-kasten6 nav-kasten">
       
      </div>
      <div class="nav-kasten7 nav-kasten">
        <p (click)="goToLogin()" style="font-weight: bold; cursor: pointer; margin-right: 10%" class="logoutText">Abmelden</p>
      </div>
  </nav>

  <main style="color: white">

    <div class="row1" style="margin-top: 100px">

        <h3 style="text-align: center;">Dein Literaturverzeichnis sollte am Ende deiner Arbeit wie folgt aussehen:</h3> 
        <br> 
        <br>
        <div class="list" style="text-align: center;">
        <ul class="myUL">
        <li >Der Großteil der zitierten Quellen sind Zeitschriftenartikel.</li>
        <li>Die zitierten Artikel stammen aus den besten Zeitschriften des Fachgebiets.</li>
        <li>Das Verzeichnis enthält wenige Basisquellen, wie zum Beispiel Lehrbücher.</li>
        <li>Das Verzeichnis enthält sowohl Standardliteratur (häufig zitiert) als auch aktuelle Quellen.</li>
        <li>Die Quellen sind in englischer und deutscher Sprache verfasst.</li>
        <li>Das Verzeichnis enthält so wenige Internetquellen wie möglich.</li>
        <li>Das Verzeichnis enthält kein "Füllmaterial", also Quellen, die aufgenommen wurden, um die Recherche gründlicher erscheinen zu lassen.</li>
      </ul>
    </div>

    </div>
    <div class="row2">
      <button (click)="goToQuest21Dialogue2()" style="float: right; margin-top: 0%; background-color: rgba(1, 61, 98, 1); color: white; width: 150px; height: 40px; border-radius: 8px; margin-right: 15px;">
        Weiter
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </button>
    </div>

  </main>
  </div>



