<div id="body">
  <div id="textarea">
      <h1><u>Text von Lisa Nowak:</u></h1><br>
      <p id="texttoread">
        Gemäß zahlreicher renommierter Wissenschaftler gibt es Umweltbelastungen, 
        die durch den Menschen hervorgerufen werden. Da aber auch Vulkane oder Veränderungen der 
        Sonnenstrahlung das Wetter beeinflussen (siehe Bild.de: So heizen Sonne und Vulkane unserer 
        Erde ein), ist es meiner Meinung nach jedoch schwierig, den Anteil des Menschen am 
        Klimawandel exakt zu bestimmen. Zwar steht der Tourismus auch in der Verantwortung, 
        die Umwelt zu schützen, es muss aber darauf geachtet werden, dass diese Maßnahmen nicht 
        die Kosten für die Unternehmen in unermessliche Höhen treiben und Reisen dann nur noch den 
        Reichen vorbehalten bleiben. Außerdem darf nicht vergessen werden, dass der Klimawandel 
        auch tolle neue Reiseziele schaffen kann, beispielsweise durch den Zugang zu bereits 
        geschmolzenen Gebieten in der Arktis.</p>
  </div>
  <div id="buttonposition">
      <button mat-raised-button id="backtoQuest12" routerLink="../quest12">
          Zurück zur Quest1.2
        </button>
        
  </div>
</div>