<ion-content class="wholePage">

  <nav style="color: white">
    <div class="nav-kasten1 nav-kasten">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-tree" viewBox="0 0 16 16">
        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507z"/>
      </svg>
    </div>
    <div class="nav-kasten2 nav-kasten">
      <img
          src="../../assets/images/avatar2.png"
          alt="Avatar"
          width="64"
          height="64"
          class="d-inline-block align-text-middle avatar"
        />
    </div>
    <div class="nav-kasten3 nav-kasten">
      <h3>Marc</h3>
    </div>
    <div class="nav-kasten4 nav-kasten">
      <h2>Mission Green Possible</h2>
    </div>
    <div class="nav-kasten5 nav-kasten">
    </div>
    <div class="nav-kasten6 nav-kasten">
      <img
          alt="Logo der Hochschule Worms"
          src="../assets/images/wormslogo-white.png"
          width="64"
          height="64"
          class="inline-block"
        />
    </div>
  </nav>

  <!-- <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
          width="64"
          height="64"
          class="d-inline-block align-text-middle avatar"
        />
        <span class="username">Marc</span>
      </a>

      <a class="navbar-brand">
        <img
          alt="Logo der Hochschule Worms"
          src="./assets/images/hswormslogo.png"
          width="60"
          height="64"
          class="inline-block"
        />
      </a>
    </div>
  </nav> -->

  <div class="">
    <div class="container">
      <div
        class="col-sm-8 offset-sm-2 col-lg-12 offset-lg-3 col-xl-4 offset-xl-4 text-center"
      >
        <div class="box">
          <h3 class="text-light fw-bolder fs-4 mb-2 mt-1">Modul 2</h3>
          <p class="text-light fw-normal mb-2">
            Hier werden wissenschaftliche Grundlagen erarbeitet
          </p>
          <div class="box"></div>
          <div class="row">
            <div class="col">
              <div class="card text-bg-light card-box">
                <div (click)="goToQuest21()" class="card-body padding-10">
                  <h5 class="card-title margin-top-0" style="color: black">Quest 2.1</h5>
                  <div class="quest-height">
                    <p class="card-text" style="color: black">Zettelwirtschaft!</p>
                  </div>

                  <img
                    *ngIf="quest1_1 === 'grey'"
                    class="medallie"
                    src="./assets/images/Medallie-grey.png"
                    alt=""
                  />
                  <img
                    *ngIf="quest1_1 === 'bronze'"
                    class="medallie"
                    src="./assets/images/Medallie Bronze.png"
                    alt=""
                  />
                  <img
                    *ngIf="quest1_1 === 'silber'"
                    class="medallie"
                    src="./assets/images/Medallie Silber.png"
                    alt=""
                  />
                  <img
                    *ngIf="quest1_1 === 'gold'"
                    class="medallie"
                    src="./assets/images/Medallie Gold.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-light card-box">
                <div (click)="goToQuest22()" class="card-body padding-10">
                  <h5 class="card-title margin-top-0" style="color: black">Quest 2.2</h5>
                  <div class="quest-height">
                    <p class="card-text" style="color: black">Wo ist mein Deckel?</p>
                  </div>

                  <span>
                    <img
                      *ngIf="quest1_2 === 'grey'"
                      class="medallie"
                      src="./assets/images/Medallie-grey.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'bronze'"
                      class="medallie"
                      src="./assets/images/Medallie Bronze.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'silber'"
                      class="medallie"
                      src="./assets/images/Medallie Silber.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'gold'"
                      class="medallie"
                      src="./assets/images/Medallie Gold.png"
                      alt=""
                    />
                  </span>

                  <span>
                    <img
                      class="schloss"
                      *ngIf="quest22_locked == true"
                      src="../../assets/images/Schloss.png"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card text-bg-light card-box">
                <div (click)="goToQuest23()" class="card-body padding-10">
                  <h5 class="card-title margin-top-0" style="color: black">Quest 2.3</h5>
                  <div class="quest-height">
                    <p class="card-text" style="color: black">Schließe die Lücke!</p>
                  </div>

                  <span>
                    <img
                      *ngIf="quest1_1 === 'grey'"
                      class="medallie"
                      src="./assets/images/Medallie-grey.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_1 === 'bronze'"
                      class="medallie"
                      src="./assets/images/Medallie Bronze.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_1 === 'silber'"
                      class="medallie"
                      src="./assets/images/Medallie Silber.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_1 === 'gold'"
                      class="medallie"
                      src="./assets/images/Medallie Gold.png"
                      alt=""
                    />
                  </span>

                  <span>
                    <img
                      class="schloss"
                      *ngIf="quest23_locked == true"
                      src="../../assets/images/Schloss.png"
                    />
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-light card-box">
                <div (click)="goToQuest24()" class="card-body padding-10">
                  <h5 class="card-title margin-top-0" style="color: black">Quest 2.4</h5>
                  <div class="quest-height">
                    <p class="card-text" style="color: black">Freut mich!</p>
                  </div>

                  <span>
                    <img
                      *ngIf="quest1_2 === 'grey'"
                      class="medallie"
                      src="./assets/images/Medallie-grey.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'bronze'"
                      class="medallie"
                      src="./assets/images/Medallie Bronze.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'silber'"
                      class="medallie"
                      src="./assets/images/Medallie Silber.png"
                      alt=""
                    />
                    <img
                      *ngIf="quest1_2 === 'gold'"
                      class="medallie"
                      src="./assets/images/Medallie Gold.png"
                      alt=""
                    />
                  </span>

                  <span>
                    <img
                      class="schloss"
                      *ngIf="quest24_locked == true"
                      src="../../assets/images/Schloss.png"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer" style="display: inline-block">
    <div class="backDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
    <div (click)="goToHome()" class="homeButton" style="display: inline-block">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="fakeBackDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
  </div>
</ion-content>
