html{
  background-color: rgba(1,61,98,255);
}

nav{
    height: 8%;
    display: flex;
    width: 100%;
    margin-bottom: 0.1rem;
    margin-top: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  
  h1, h2, h3, a, p, span{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
  }
  
  a{
    text-decoration: none;
  }

  .settingsIcon:hover{
    cursor: pointer;
  }
  
  .nav-kasten1{
    height: 100%;
    width: 16%;
    margin-top: 0.7rem;
  }
  
  .nav-kasten2{
    height: 100%;
    width: 68%;
    text-align: center;
  }
  
  .nav-kasten3{
    margin-top: auto;
    margin-bottom: auto;
    width: 11%;
    text-align: right;
  }
  
  .nav-kasten4{
    height: 100%;
    width: 5%;
    text-align: right;
  }

 .logoutText:hover{
  cursor: pointer;
 }