<div class="wholePage">
  <img
    alt="Logo der Hochschule Worms"
    src="../assets/images/wormslogo-white.png"
    width="58"
    height="64"
    class="inline-block"
    style="
      position: relative;
      float: left;
      margin-top: 0.1%;
      margin-left: 0.5%;
      opacity: 0.6;
    "
  />

  <div
    class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-2 text-center wholeBox"
  >
    <form
      class="rounded shadow-lg p-5"
      style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 1000px; position: relative; top: -140px"
    >
      <h1>Impressum</h1>

      <p>
        Die Projekte unterhalb von https://gitlab.rlp.net/top und die zugehörigen Webseiten mit Präfix https://top.pages.gitlab.rlp.net werden für das Modul Projektmanagement und Teamorientiertes Projekt (TOP) im Bachelor-Studiengang Angewandte Informatik (B.Sc.) der Hochschule Worms auf der GitLab-Instanz der Rechenzentrumsallianz Rheinland-Pfalz (RARP) bereitgestellt. <br> <br>
        Es gilt das Impressum der RARP für diese GitLab-Instanz: https://rarp.rlp.net/impressum/ . <br> <br>
        Inhaltlich verantwortlich für die Projekte und Webseiten des TOP sind
      </p>
        <ul>
          <li>der Modulverantwortliche, Prof. Dr.-Ing. Herbert Thielen (E-Mail: thielen@hs-worms.de)</li>
          <li>der Dekan des Fachbereichs Informatik der Hochschule Worms, Prof. Dr. Werner König (E-Mail: koenig@hs-worms.de)</li>
        </ul>

        <h1>Datenschutzerklärung</h1>

        <p>
          Es gilt die Datenschutzerklärung der RARP für diese GitLab-Instanz: https://rarp.rlp.net/datenschutz/ . <br><br>  
          Das für die Projekte genutzte und weltweit für Software-Entwicklung übliche Versionsverwaltungssystem Git beruht auf einer dauerhaften, mit kryptographischen Hashwerten verknüpften Historie der Änderungen im Software-Repository. Eine Löschung von Änderungsbeiträgen der Historie würde die Arbeit mit diesem Software-Repository unmöglich machen. Zur Erfüllung der Lehre im Studiengang Angewandte Informatik und der damit verbundenen Forschung ist das Versionsverwaltungssystem und die entsprechende Datenverarbeitung notwendig. <br><br>
          Beachten Sie daher bitte den Absatz in Abschnitt VII der Datenschutzerklärung.
        </p>

    </form>
  </div>

  <button
    (click)="goToLogin()"
    class="fixed-bottom"
    style="
      margin-bottom: 3%;
      margin-left: 5%;
      background-color: rgba(1, 61, 98, 1);
      color: white;
      width: 150px;
      height: 40px;
      border-radius: 8px;
    "
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="white"
      class="bi bi-arrow-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
      />
    </svg>
    Zurück
  </button>
</div>
