<div class="wholePage">

  <nav style="color: white"> 
  
    <div class="nav-kasten1 nav-kasten">
      <img
          alt="Logo der Hochschule Worms"
          src="../assets/images/wormslogo-white.png"
          width="64"
          height="64"
          class="inline-block"
        />
    </div>
    <div class="nav-kasten2 nav-kasten">
      <a href="home" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Hauptmenü</a>
    </div>
      <div class="nav-kasten3 nav-kasten">
        <a href="impressum2" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Impressum</a>
      </div>
      <div class="nav-kasten4 nav-kasten">
        <h1>Mission Green Possible</h1>
      </div>
      <div class="nav-kasten5 nav-kasten">
        
      </div>
      <div class="nav-kasten6 nav-kasten">
       
      </div>
      <div class="nav-kasten7 nav-kasten">
        <p (click)="goToLogin()" style="font-weight: bold; cursor: pointer; margin-right: 10%" class="logoutText">Abmelden</p>
      </div>
  </nav>
  
  <main>
  
    <h1 style="color: white; text-align: center; font-size: 30px; margin-top: 80px;">Modul 2 Feedback</h1>
  
     <div (click)="goToQuest21feedback2()" class="clickableBox" >
      <form class="rounded shadow-lg p-2" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 500px; text-align: center; height: 80px; margin: auto; margin-top: 30px;">
          <h2>Quest 2.1: Falsche Tipps</h2>
      </form>
    </div>
  
    <div (click)="goToQuest22feedback2()" class="clickableBox" >
      <form class="rounded shadow-lg p-2" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 500px; text-align: center; height: 80px; margin: auto; margin-top: 30px;">
          <h2>Quest 2.2: (Un)gleiche Paare</h2>
      </form>
    </div>

    <div (click)="goToQuest23feedback2()" class="clickableBox" >
      <form class="rounded shadow-lg p-2" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 500px; text-align: center; height: 80px; margin: auto; margin-top: 30px;">
          <h2>Quest 2.3: Blick aufs Detail</h2>
      </form>
    </div>

    <div (click)="goToQuest24feedback2()" class="clickableBox" >
      <form class="rounded shadow-lg p-2" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 500px; text-align: center; height: 80px; margin: auto; margin-top: 30px;">
          <h2>Quest 2.4: Suchen und Finden</h2>
      </form>
    </div>
  
    <button (click)="goToHome()" class="fixed-bottom" style="margin-bottom: 5%; margin-left: 5%; background-color: rgba(1, 61, 98, 1); color: white; width: 150px; height: 40px; border-radius: 8px">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      Zurück
    </button>
  
  </main>
  
  </div>