<div class="wholePage">
  <nav style="color: white">
    <div class="nav-kasten1 nav-kasten">
      <img
        alt="Logo der Hochschule Worms"
        src="../assets/images/wormslogo-white.png"
        width="64"
        height="64"
        class="inline-block"
      />
    </div>
    <div class="nav-kasten2 nav-kasten">
      <a
        href="home"
        class="fw-bold text-decoration-none"
        style="color: white; padding-left: 10%"
        >Hauptmenü</a
      >
    </div>
    <div class="nav-kasten3 nav-kasten">
      <a
        href="impressum2"
        class="fw-bold text-decoration-none"
        style="color: white; padding-left: 10%"
        >Impressum</a
      >
    </div>
    <div class="nav-kasten4 nav-kasten">
      <h1>Mission Green Possible</h1>
    </div>
    <div class="nav-kasten5 nav-kasten"></div>
    <div class="nav-kasten6 nav-kasten"></div>
    <div class="nav-kasten7 nav-kasten">
      <p
        (click)="goToLogin()"
        style="font-weight: bold; cursor: pointer; margin-right: 10%"
        class="logoutText"
      >
        Abmelden
      </p>
    </div>
  </nav>

  <main style="color: white; padding-top: 20px">
    <div class="row1kasten1" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Erkenntnisobjekt.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row1kasten2">
      <h4>
        Erkenntnisobjekte sind privatwirtschaftliche Betriebe
        (Reiseveranstalter), gemeinnützige bzw. öffentliche Betriebe
        (Destinationsmanagementorgansiationen) sowie die Nachfrager von
        Leistungen (Veranstaltungsteilnehmer)
      </h4>
    </div>
    <div class="row1kasten3" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Erklaerungsziel.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row1kasten4">
      <h4>
        Erklärungsziele sind darauf ausgerichtet, die in Märkten und den darin
        agierenden Akteuren (z. B. Unternehmen, Mitarbeitende, Kunden)
        ablaufenden Prozesse und Entscheidungen zu verstehen und zu erklären, um
        daraus Handlungsempfehlungen (siehe Gestaltungsziel) ableiten zu können.
        So ist es beispielsweise für Unternehmen wichtig, die Prozesse in der
        Psyche ihrer Kunden (Einflussfaktoren des Beschwerdeverhaltens von
        Flugreisenden) zu kennen, um diese im Sinne des Unternehmens
        beeinflussen zu können. Auch kann es wichtig sein, die Ursachen für
        bestimmte Phänomene (Erfolgsdeterminanten der
        Social-Media-Kommunikation, Ursachen des Overtourism) zu analysieren, um
        erfolgreich in Märkten agieren zu können.
      </h4>
    </div>

    <div class="row2kasten1" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Gestaltungsziel.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row2kasten2">
      <h4>
        Gestaltungsziele sind darauf ausgerichtet, konkrete
        Handlungsempfehlungen für die Gestaltung von Entscheidungen
        (Preisbestimmung für hybride Kongresse, Senkung des Ausstoßes
        klimaschädlicher Gase bei Geschäftsreisen) und Prozessen (Vermeidung von
        Overtourism) in Märkten zu geben.
      </h4>
    </div>
    <div class="row2kasten3" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Methoden.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row2kasten4">
      <h4>
        Methoden des wissenschaftlichen Arbeitens (Bildung von Hypothesen,
        Durchführung von Befragungen, Auswertung statistischer Daten,
        Literaturrecherchen) dienen dazu, die gesetzten Erklärungs- und
        Erkenntnisziele zu erreichen.
      </h4>
    </div>

    <div class="row3kasten1" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Hypothese.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row3kasten2">
      <h4>
        Hypothesen sind Annahmen und Vermutungen über Tatsachen oder
        Zusammenhänge, die sich noch nicht empirisch bewährt haben. Ein Beispiel
        wäre die Annahme, dass sich das Umweltbewusstsein einer Person positiv
        auf die Wahl umweltfreundlicher Verkehrsträger auswirkt. Die Überprüfung
        von Hypothesen erfolgt mittels empirischer Studien, die dazu führen,
        dass die entsprechende Hypothese entweder bestätigt (verifiziert) oder
        nicht bestätigt (falsifiziert) wird. Um den positiven Einfluss des
        Umweltbewusstseins auf die Verkehrsträgerwahl zu untersuchen, könnte man
        in einer Befragung prüfen, ob Menschen mit einem hohem Umweltbewusstsein
        häufiger umweltfreundliche Verkehrsträger nutzen, als Personen mit
        geringem Umweltbewusstsein.
      </h4>
    </div>
    <div class="row3kasten3" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Theorie.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row3kasten4">
      <h4>
        Theorien setzen setzt sich aus einer Menge von Aussagen (Hypothesen)
        zusammen, die systematisch in Beziehung zueinander stehen und sich
        empirisch überprüfen lassen. Werden die Hypothesen mehrfach empirisch
        bestätigt, hat sich die Theorie als Ansatz zur Erklärung eines in der
        Realität auftretenden Phänomens bestätigt. Die Erklärung des Ablaufs der
        Evolution nach Charles Darwin ist ein Beispiel für eine Theorie. Die
        Evolutionstheorie liefert Erklärungen dafür, wie sich Arten von lebenden
        Organismen im Laufe der Zeit durch Prozesse wie die natürliche Selektion
        verändern. Sie ist in der wissenschaftlichen Gemeinschaft weit
        akzeptiert und wird durch empirische Belege aus verschiedenen
        Wissenschaftsbereichen (z. B. Genetik, Paläontologie) bestätigt.
      </h4>
    </div>

    <div class="row4kasten1" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Modell.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row4kasten2">
      <h4>
        Modelle dienen der vereinfachten Darstellung der für eine bestimmte
        wissenschaftliche Fragestellung relevanter Teile der Realität. Sie
        können in unterschiedlichen Formen (z. B. Abbildung, gegenständliches
        Modell, in mathematischer Form) dargestellt werden. Ein Beispiel sind
        die unterschiedlichen Modelle, die Wissenschaftler nutzen, um die
        Zusammenhänge zwischen den drei Dimensionen der Nachhaltigkeit
        darzustellen.
      </h4>
    </div>
    <div class="row4kasten3" style="text-align: center">
      <img
        alt="Folder"
        src="../../assets/images/Quest11folders/Konzept.png"
        width="160"
        height="120"
      />
    </div>
    <div class="row4kasten4">
      <h4>
        Konzepte sind Abstraktionen einzelner Erscheinungen der Realität (z. B.
        Umweltbewusstsein), die für eine bestimmte wissenschaftliche
        Fragestellung sinnvoll sind. In einer wissenschaftlichen Arbeit sollten
        die für das jeweilige Thema relevanten Konzepte immer definiert werden,
        um ein einheitliches Begriffsverständnis zwischen Autor und Leser
        herzustellen. Dies liegt darin begründet, dass Konzepte gedankliche
        Gebilde sind, deren Bedeutung nicht per se jedem Menschen klar sein
        muss.
      </h4>
    </div>

    <div class="row5kasten1"></div>
    <div class="row5kasten2"></div>
    <div class="row5kasten3"></div>
    <div class="row5kasten4">
      <button
        (click)="goToQuest11Dialogue2()"
        style="
          background-color: rgba(1, 61, 98, 1);
          color: white;
          width: 150px;
          height: 40px;
          border-radius: 8px;
          float: right;
        "
      >
        Weiter
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-arrow-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
          />
        </svg>
      </button>
    </div>

    <button
      (click)="goToQuest11Dialogue2()"
      style="
        background-color: rgba(1, 61, 98, 1);
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 8px;
      "
    >
      Weiter
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-arrow-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
        />
      </svg>
    </button>
  </main>
</div>
