<ion-content class="wholePage">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
          width="64"
          height="64"
          class="d-inline-block align-text-middle avatar"
        />
        <span class="username">Marc</span>
      </a>

      <h2 style="color: white; text-align: center; font-weight: bold; margin-bottom: 5px; margin-top: 0">QUEST 1.1: <br> Erkenntnisinteresse der BWL</h2> 
      
      <a class="navbar-brand">
        <img
          alt="Logo der Hochschule Worms"
          src="../assets/images/hswormslogo.png"
          width="60"
          height="64"
          class="inline-block"
        />
      </a>
    </div>
  </nav>







<div class="body">

<div cdkDropListGroup style="display:table">

<div class="row1">
<div class="box box1" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box1"
    [cdkDropListEnterPredicate]="box1Predicate"
    >
    <img *ngIf="box1.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/blue-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box1.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/blue-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(0, 0, 255, 0.8); font-weight: bold">
      Erkenntnisobjekt
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box1">
    {{item}}
  </div>
</div>

<h3>Box2</h3>
<div class="box box2" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box2"
    [cdkDropListEnterPredicate]="box2Predicate"
    >
    <img *ngIf="box2.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/green-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box2.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/green-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(0, 128, 0, 0.8); font-weight: bold">
      Erklärungsziel
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box2">
    {{item}}
  </div>
</div>
</div>

<div class="box box3" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box3"
    >
    <div class="title" style="background-color: rgba(0, 0, 0, 1); font-weight: bold">
      Zuzuordnende Aussage
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box3">
    {{item}}
  </div>

  <ion-button (click)="goToQuest112(); checkAnswers()" mode="ios" size="large" color="success" *ngIf="box3.length == 0">WEITER</ion-button>
</div>




<div class="row2">
<div class="box box4" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box4"
    [cdkDropListEnterPredicate]="box4Predicate"
    >
    <img *ngIf="box4.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/red-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box4.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/red-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(255, 0, 0, 0.8); font-weight: bold">
      Gestaltungsziel
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box4">
    {{item}}
  </div>
</div>

<h3>Box5</h3>
<div class="box box5" style="display: table-cell"
    cdkDropList 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="box5"
    [cdkDropListEnterPredicate]="box5Predicate"
    >
    <img *ngIf="box5.length == 0"
          alt=""
          src="../../assets/images/Ablagefaecher/yellow-empty.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
        <img *ngIf="box5.length > 0"
          alt=""
          src="../../assets/images/Ablagefaecher/yellow-filled.png"
          style="width: 200px; padding-left: 50px; padding-bottom: 10px;"
        />
    <div class="title" style="background-color: rgba(255, 255, 0, 0.5); font-weight: bold">
      Methoden
    </div>
  <div cdkDrag class="drag-item" *ngFor="let item of box5">
    {{item}}
  </div>
</div>
</div>

</div>
</div>






  <div class="footer" style="display: inline-block">
    <div class="backDiv" style="display: inline-block">
      <ion-icon
        (click)="goToModul1()"
        class="back"
        name="arrow-back-outline"
      ></ion-icon>
    </div>
    <div (click)="goToHome()" class="homeButton" style="display: inline-block">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="fakeBackDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
  </div>
</ion-content>
