<div class="wholePage">

    <img
    alt="Logo der Hochschule Worms"
    src="../assets/images/wormslogo-white.png"
    width="58"
    height="64"
    class="inline-block"
    style="position: relative; float: left; margin-top: 0.1%; margin-left: 0.5%; opacity: 0.6;"
  />
  
    <div class="wrapper">
      <div
        class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center wholeBox"
      >
        <form class="rounded shadow-lg p-5" style="background-color: rgba(0, 0, 0, 0.6)">

          <svg xmlns="http://www.w3.org/2000/svg" width="400" height="64" fill="white" class="bi bi-lock" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
          </svg>

          <h3 class="text-light fw-bolder fs-4 mb-3">Probleme mit der Anmeldung?</h3>
          <p class="mb-4" style="color: white; font-size: 15px">Gib deine E-Mail Adresse ein um einen Link zum zurücksetzen deines Passworts zu erhalten</p>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" />
            <label for="floatingInput">E-Mail</label>
          </div>
          <button
            class="btn btn-primary submit_btn w-100 my-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
            Link senden
          </button>
          <div class="fw-normal text-light mb-4">
            Neu hier?
            <a href="register" class="text-white fw-bold text-decoration-none"
              >Account erstellen</a
            >
          </div>
          <a href="login" class="text-white fw-bold text-decoration-none"
              >Zurück zum Login</a
            >
            <br>
            <br>
            <a href="impressum" class="text-white fw-bold text-decoration-none" style="color: white"
              >Impressum</a
            >
        </form>
      </div>
    </div>
  </div>
  