<ion-content class="wholePage">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
          width="64"
          height="64"
          class="d-inline-block align-text-middle avatar"
        />
        <span class="username">Marc</span>
      </a>

      <a class="navbar-brand">
        <img
          alt="Logo der Hochschule Worms"
          src="../assets/images/hswormslogo.png"
          width="60"
          height="64"
          class="inline-block"
        />
      </a>
    </div>
  </nav>

  <h1 style="text-align: center; font-weight: bold">QUEST 1.2</h1>
  <!-- Kann weg -->
  <div class="body">
    <div class="helDiv"><br></div>
    <div id="dokumentPosition">
      <h1>
        <div id="textbox">
          <div id="divText1"><img src="../assets/images/pdf1.png" (click)="goToText1()" style="width:100px" alt="Text1"></div>
          <div id="divText2"><img src="../assets/images/pdf2.png" (click)="goToText2()" style="width:100px" alt="Text2"></div>
          <div id="divText3"><img src="../assets/images/pdf3.png" (click)="goToText3()" style="width:100px" alt="Text3"></div>
          <div id="divFinishbutton"><ion-button (click)="determining()" mode="ios" size="large" color="success">Fertig</ion-button></div>
        </div>
      </h1>
    </div>
      <table id="TabelforQuest12">
        <tr>
          <td class="TDQuest12"><br></td>
          <td class="TDQuest12">Im Text erfolgt eine objektive Beschreibung des Themas.<br> Werturteile und persönliche Meinungen wurden vermieden.</td>
          <td class="TDQuest12">Zentrale Begriffe des Themas werden definiert.</td>
          <td class="TDQuest12">Der Text enthält Angaben, die es Außenstehenden ermöglichen,<br> die Aussagen des Autors nachzuvollziehen.</td>
          <td class="TDQuest12">Es werden wissenschaftliche Quellen genutzt.</td>
          <td class="TDQuest12">Der Text wurde in einem sachlichen Stil verfasst.</td>
        </tr>
        <tr>
          <td class="TDQuest12">Text1<br>Marianne Weber</td>
          <td class="TDQuest12"><select class="valueQuest12" id="T1K1"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T1K2"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T1K3"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T1K4"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T1K5"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
        </tr>
        <tr>
          <td class="TDQuest12">Text2<br>Mike Kramer</td>
          <td class="TDQuest12"><select class="valueQuest12" id="T2K1"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T2K2"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T2K3"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T2K4"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T2K5"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
        </tr>
        <tr>
          <td class="TDQuest12">Text3<br>Lisa Nowak</td>
          <td class="TDQuest12"><select class="valueQuest12" id="T3K1"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T3K2"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T3K3"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T3K4"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
          <td class="TDQuest12"><select class="valueQuest12" id="T3K5"><option value="nothing"></option><option value="fulfilled">Kriterium erfüllt</option><option value="notfulfilled">Kriterium nicht erfüllt</option></select></td>
        </tr>
      </table>
  </div>
  <div class="footer" style="display: inline-block">
    <div class="backDiv" style="display: inline-block">
      <ion-icon
        (click)="goToModul1()"
        class="back"
        name="arrow-back-outline"
      ></ion-icon>
    </div>
    <div (click)="goToHome()" class="homeButton" style="display: inline-block">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="fakeBackDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
  </div>
</ion-content>

<!-- https://www.freepik.com/free-vector/workspace-concept-flat-style_2914591.htm#page=10&query=empty%20comic%20desktop&position=6&from_view=search&track=ais -->
<!-- https://www.freepik.com/free-icon/pdf_15538235.htm#page=19&query=document%20pdf%20comic&position=35&from_view=search&track=ais -->