* {
  font-family: "Courier New", Courier, monospace;
}

.wholePage {
  --background: url(../../assets/images/Background_mobile_green.png) 0 0/100%
    100% no-repeat;
}

.avatar {
  margin-right: 3%;
}

.username {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.body {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 80%;
}
.homeButton {
  width: 100%;
  text-align: center;
  font-size: 40px;
  width: fit-content;
}

#dokumentPosition {
  margin-top: 15%;
  margin-left: 30%;
  margin-bottom: 15%;
}

#TabelforQuest12 {
  margin-left: 8%;
  width: 80%;
  border: solid 1px black;
  text-align: center;
}

.body {
  background: url(../../assets/images/Quest12background.png) 0 0/100% 100% no-repeat;
  width: 90%;
  height: 100%;
}

.TDQuest12 {
  border: solid 1px black;
  color: black;
  background-color: white;
}

#textbox {
  display: flex;
  flex-wrap: wrap;
}

#divText1 {
  margin-right: 20px;
}

#divText2 {
  margin-right: 20px;
}

#divText3 {
  margin-right: 20px;
}

ion-button{
  text-align: center;
  font-weight: bold;
  color: white;
}

 .footer {
  margin-top: 4%;
   width: 100vw;
   position: relative;
   text-align: center;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 1%;
   bottom: 0;
 }

.backDiv {
  width: fit-content;
  float: left;
}

.fakeBackDiv {
  width: fit-content;
  float: right;
  visibility: hidden;
}

.homeButton:hover {
  cursor: pointer;
}

.back {
  color: white;
  font-size: 40px;
}

.back:hover {
  cursor: pointer;
}
