.img-container{
    position: relative;
    display: inline-block;
}

.container{
    max-width: 100%;
    padding: 0;
}

.img-text{
    bottom: 0;
    position: absolute;
    display:block;
    width: 98%;
    margin-bottom: 1%;
    margin-left: 1%;
    text-align: center;
}

.arrow:hover{
    cursor: pointer;
}