*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

main{
  background-image: url(../../assets/images/backgroundNew.png);
  background-size: 100% 100%;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
}

.nav-kasten1{
  height: 100%;
  width: 5%;
}

.nav-kasten2{
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  width: 5%;
}

.nav-kasten3{
  height: 100%;
  margin-top: 5px;
  width: 8%;
  text-align: left;
}

.nav-kasten4{
  height: 100%;
  width: 64%;
  text-align: center;
}

.nav-kasten5{
  margin-top: auto;
  margin-bottom: auto;
  width: 13%;
  text-align: right;
}

.nav-kasten6{
  height: 100%;
  width: 5%;
  text-align: right;
}

.kasten{
  // border: 1px solid rgb(255,255,255, 0.1);
}

.kasten1{
  padding: 2%;
  border-top: 1px solid rgb(255,255,255, 0.1);
  background-color: rgba(1,61,98,0.5);
 }

.kasten2{
  // background-image: url(../../assets/images/backgroundNew.png);
  // background-size: 100% 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 6%;
  padding-right: 6%;
}

.avatar{
  border-radius: 50px;
}

.card{
  margin: auto;
}

.card:hover {
  cursor: pointer;
}

.card-header {
  margin: auto;
  font-weight: bold;
}

.card-body {
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  margin-top: 0;
}

.medallie {
  width: 15%;
  margin-left: 2%;
}

.schloss {
  width: 15%;
  float: right;
}

.unityBox{
  text-align: center;
}