<ion-content class="wholePage">
  <nav class="navbar">              
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
          width="64"
          height="64"
          class="d-inline-block align-text-middle avatar"
        />
        <span class="username">Marc</span>
      </a>

      <a class="navbar-brand">
        <img
          alt="Logo der Hochschule Worms"
          src="../assets/images/hswormslogo.png"
          width="60"
          height="64"
          class="inline-block"
        />
      </a>
    </div>
  </nav>

  <!-- <div class="parlamentarier">Anzahl der überzeugten Parlamentarier in %</div> -->

  <div class="container">
    <div class="row">
      <div class="progress-outer">
        <div class="progress">
          <div
            class="progress-bar bg-success progress-bar-striped active"
            style="
              width: 60%;
              box-shadow: -1px 10px 10px rgba(116, 195, 116, 0.7);
            "
          ></div>
          <div class="progress-value">60%</div>
        </div>
      </div>
    </div>
  </div>


  <div
    (click)="goToModul1()"
    class="card modul1card text-bg-dark mb-3"
    style="max-width: 14rem"
  >
    <div class="card-header">Modul 1</div>
    <div class="card-body">
      <h5 class="card-title">Fortschritt: 100%</h5>
      <span>
        <img
          class="medallie"
          *ngIf="quest1_1 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_1 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_1 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_1 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest1_2 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_2 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_2 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_2 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
    </div>
  </div>



  <div
  (click)="goToModul2()"
  class="card modul2card text-bg-dark mb-3"
  style="max-width: 14rem"
>
  <div class="card-header">Modul 2</div>
  <div class="card-body">
    <h5 class="card-title">Fortschritt: 0%</h5>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_1 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_1 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_1 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_1== 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_2 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_2 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_2 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_2 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_3 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_3 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_3 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_3 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_4 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_4 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_4 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_4 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="schloss"
        *ngIf="modul2_locked == true"
        src="../assets/images/Schloss.png"
      />
    </span>
  </div>
</div>



  <div class="card modul3card text-bg-dark mb-3" style="max-width: 14rem">
    <div class="card-header">Modul 3</div>
    <div class="card-body">
      <h5 class="card-title">Fortschritt: 0%</h5>
      <span>
        <img
          class="medallie"
          *ngIf="quest3_1 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_1 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_1 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_1 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest3_2 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_2 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_2 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_2 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest3_3 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_3 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_3 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_3 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest3_4 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_4 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_4 == 'silber'"
          ssrc="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest3_4 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="schloss"
          *ngIf="modul3_locked == true"
          src="../assets/images/Schloss.png"
        />
      </span>
    </div>
  </div>


  <div class="card modul4card text-bg-dark mb-3" style="max-width: 14rem">
    <div class="card-header">Modul 4</div>
    <div class="card-body">
      <h5 class="card-title">Fortschritt: 0%</h5>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_1 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_1 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_1 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_1 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_2 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_2 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_2 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_2 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_3 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_3 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_3 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_3 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_4 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_4 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_4 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_4 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="schloss"
          *ngIf="modul4_locked == true"
          src="../assets/images/Schloss.png"
        />
      </span>
    </div>
  </div>





  <div class="footer" style="display: inline-block">
    <div class="backDiv" style="display: inline-block">
      <ion-icon
        (click)="goToLogin()"
        class="back"
        name="arrow-back-outline"
      ></ion-icon>
    </div>
    <div class="homeButton" style="display: inline-block">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="fakeBackDiv" style="display: inline-block">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </div>
  </div>
</ion-content>
