* {
  font-family: "Courier New", Courier, monospace;
}

.wholePage {
  --background: url(../../assets/images/pfad.jpg) 0 90%;
  // --background: url(../../assets/images/Background_mobile_green.png) 0 0/100%
}

.avatar {
  margin-right: 3%;
}

.progress-outer {
  // background: #fff;
  border-radius: 50px;
  padding-bottom: 4%;
  // box-shadow: 0 0  10px rgba(209, 219, 231,0.7);
  margin: auto;
  width: 90%;
}

@media (min-width: 800px) {
  .progress-outer {
    width: 60%;
    padding-bottom: 2%;
  }
}

.progress {
  height: 27px;
  margin: 0;
  overflow: visible;
  border-radius: 50px;
  background: red;
  box-shadow: inset 0 10px 10px rgba(244, 245, 250, 0.9);
}
.progress .progress-bar {
  border-radius: 50px;
}
.progress .progress-value {
  position: relative;
  left: -45px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}
.progress-bar.active {
  animation: reverse progress-bar-stripes 0.4s linear infinite,
    animate-positive 2s;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

.username {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.parlamentarier {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.card:hover {
  cursor: pointer;
}

.card-header {
  margin: auto;
  font-weight: bold;
}

.feedback {
  margin-top: 5%;
}

.card-body {
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  margin-top: 0;
}

.medallie {
  width: 15%;
  margin-left: 2%;
}

.schloss {
  width: 15%;
  float: right;
}

.back {
  color: white !important;
  font-size: 40px;
  margin-left: 1%;
}

.back:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .back {
    margin-top: 8%;
  }
}

.homeButton {
  width: 100%;
  text-align: center;
  font-size: 40px;
  width: fit-content;
  visibility: hidden;
}

.footer {
  width: 100vw;
  position: absolute;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  bottom: 0;
}

.backDiv {
  width: fit-content;
  float: left;
}

.fakeBackDiv {
  width: fit-content;
  float: right;
  visibility: hidden;
}

.back {
  color: black;
  font-size: 40px;
}

.back:hover {
  cursor: pointer;
}

.modul1card{
  margin-left: 16%;
  margin-top: 4%;
}

.modul2card{
  margin-left: 38%;
  margin-top: -6%;
}

.modul3card{
  margin-left: 30%;
  margin-top: 9%;
}

.modul4card{
  margin-left: 75%;
  margin-top: -11%;
}

.movingAvatar{
  height: 280px;
  width: 350px;
}

.movingAvatar2{
  position: relative;
  margin-top: -8%;
  margin-left: 41%;
}



