<main style="color: white">

  <div class="kasten1 kasten">

    <div
    (click)="goToModul1()"
    class="card modul1card text-bg-light mb-3"
    style="max-width: 14rem; margin-top: 1%;"
  >
    <div class="card-header">Modul 1</div>
    <div class="card-body">
      <h5 class="card-title">Fortschritt: {{modul1_percent}}%</h5>
      <span>
        <img
          class="medallie"
          *ngIf="quest1_1 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_1 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_1 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_1 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest1_2 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_2 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_2 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest1_2 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
    </div>
  </div>

  <div
  (click)="goToModul2()"
  class="card modul2card text-bg-light mb-3"
  style="max-width: 14rem"
>
  <div class="card-header">Modul 2</div>
  <div class="card-body">
    <h5 class="card-title">Fortschritt: {{modul2_percent}}%</h5>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_1 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_1 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_1 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_1== 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_2 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_2 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_2 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_2 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_3 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_3 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_3 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_3 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest2_4 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_4 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_4 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest2_4 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="schloss"
        *ngIf="modul2_locked == true"
        src="../assets/images/Schloss.png"
      />
    </span>
  </div>
</div>

<div class="card modul3card text-bg-light mb-3" style="max-width: 14rem">
  <div class="card-header">Modul 3</div>
  <div class="card-body">
    <h5 class="card-title">Fortschritt: {{modul3_percent}}%</h5>
    <span>
      <img
        class="medallie"
        *ngIf="quest3_1 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_1 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_1 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_1 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest3_2 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_2 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_2 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_2 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest3_3 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_3 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_3 == 'silber'"
        src="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_3 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="medallie"
        *ngIf="quest3_4 == 'grey'"
        src="../assets/images/Medallie-grey.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_4 == 'bronze'"
        src="../assets/images/Medallie Bronze.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_4 == 'silber'"
        ssrc="../assets/images/Medallie Silber.png"
      />
      <img
        class="medallie"
        *ngIf="quest3_4 == 'gold'"
        src="../assets/images/Medallie Gold.png"
      />
    </span>
    <span>
      <img
        class="schloss"
        *ngIf="modul3_locked == true"
        src="../assets/images/Schloss.png"
      />
    </span>
  </div>
</div>

<div class="card modul4card text-bg-light mb-3" style="max-width: 14rem">
    <div class="card-header">Modul 4</div>
    <div class="card-body">
      <h5 class="card-title">Fortschritt: {{modul4_percent}}%</h5>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_1 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_1 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_1 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_1 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_2 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_2 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_2 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_2 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_3 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_3 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_3 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_3 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="medallie"
          *ngIf="quest4_4 == 'grey'"
          src="../assets/images/Medallie-grey.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_4 == 'bronze'"
          src="../assets/images/Medallie Bronze.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_4 == 'silber'"
          src="../assets/images/Medallie Silber.png"
        />
        <img
          class="medallie"
          *ngIf="quest4_4 == 'gold'"
          src="../assets/images/Medallie Gold.png"
        />
      </span>
      <span>
        <img
          class="schloss"
          *ngIf="modul4_locked == true"
          src="../assets/images/Schloss.png"
        />
      </span>
    </div>
  </div> 

  <!-- <div class="unityBox" style="width:100%; height: 100%">
    <iframe mozallowfullscreen="true" allow="autoplay; fullscreenautoplay; encrypted-media;" src="http://melmmarc.github.io/Builds2/index.html" style="border:0px #000000 none;" name="Unity Worms Map" scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true" allowtransparency="true" frameborder="0" marginheight="px" height="100%" width="100%"></iframe>
  </div> -->

  </div>

  <div class="kasten2 kasten">

    <p style="text-align: center; padding: 2%; margin-top: 1%">{{parlament_progress}}% des Europaparlaments sind bereits auf deiner Seite!</p>

    <img *ngIf="isIn10Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/10percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />

      <img *ngIf="isIn20Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/20percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />

      <img *ngIf="isIn30Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/30percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />

    <img *ngIf="isIn40Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/40percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />
      <img *ngIf="isIn50Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/50percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />
      <img *ngIf="isIn60Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/60percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />
      <img *ngIf="isIn70Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/70percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />
      <img *ngIf="isIn80Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/80percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />
      <img *ngIf="isIn90Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/90percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />
      <img *ngIf="isIn100Range(parlament_progress) == true"
        alt="Parlament"
        src="../../assets/images/parlament/100percent.png"
        width="100%"
        height="20%"
        class="inline-block"
      />
    

  <!-- 
    <div class="container" style="margin-top: 8%; margin-bottom: 15%;">
      <div class="row">
        <div class="progress-outer">
          <div class="progress">
            <div
              class="progress-bar bg-success progress-bar-striped active"
              style="
                width: 60%;
                box-shadow: -1px 10px 10px rgba(116, 195, 116, 0.7);
              "
            ></div>
            <div class="progress-value">30%</div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div style="text-align: center;">
    <img
        alt="Dummy Character"
        src="../../assets/images/praktikant.png"
        width="320"
        height="300"
        class="inline-block"
      />

      <h1 *ngIf="player_rank == 1" style="font-weight: bold; font-size: 35px">Praktikant</h1>
      <h1 *ngIf="player_rank == 2" style="font-weight: bold; font-size: 35px">Studentische Hilfskraft</h1>
      <h1 *ngIf="player_rank == 3" style="font-weight: bold; font-size: 35px">Wissenschaftlicher Mitarbeiter</h1>
      <h1 *ngIf="player_rank == 4" style="font-weight: bold; font-size: 35px">Rang 4</h1>
      
    
      <p style="text-align: center; margin-top: 10%">Überzeuge mehr Parlamentarier um in deinem Rang aufzusteigen</p>
    </div>
  </div>

</main>
