*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

nav{
  height: 8%;
  display: flex;
  width: 100%;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h1, h2, h3, a, p, span{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
}

a{
  text-decoration: none;
}

main{
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 1fr;
}

.nav-kasten1{
  height: 100%;
  width: 5%;
}

.nav-kasten2{
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  width: 5%;
}

.nav-kasten3{
  height: 100%;
  margin-top: 5px;
  width: 8%;
  text-align: left;
}

.nav-kasten4{
  height: 100%;
  width: 64%;
  text-align: center;
}

.nav-kasten5{
  margin-top: auto;
  margin-bottom: auto;
  width: 13%;
  text-align: right;
}

.nav-kasten6{
  height: 100%;
  width: 5%;
  text-align: right;
}

.kasten{
  // border: 1px solid rgb(255,255,255, 0.1);
}

.kasten1{
  background-image: url(../../assets/images/background.png);
  background-size: 100% 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 6%;
  padding-right: 6%;
}

.kasten2{
 padding: 2%;
 border-top: 1px solid rgb(255,255,255, 0.1);
}

.avatar{
  border-radius: 50px;
}

.card{
  margin: auto;
}

.card:hover {
  cursor: pointer;
}

.card-header {
  margin: auto;
  font-weight: bold;
}

.card-body {
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  margin-top: 0;
}

.medallie {
  width: 15%;
  margin-left: 2%;
}

.schloss {
  width: 15%;
  float: right;
}

.unityBox{
  text-align: center;
}