<h1 style="color: white; text-align: center; margin-top: 20%;">SETTINGS PAGE</h1>

<div class="buttonBox" style="background-color: white; padding: 5px; width: 160px; margin: auto">

  <button (click)="setGenderToMale()" style="background-color: rgba(1, 61, 98, 1); color: white; width: 150px; height: 40px; border-radius: 8px; margin-bottom: 5px;">
    Mann
  </button>
  
  <button (click)="setGenderToFemale()" style="background-color: rgba(1, 61, 98, 1); color: white; width: 150px; height: 40px; border-radius: 8px">
    Frau
  </button>

</div>

